<td><%= NOMBRE_CIUDAD %></td>
<td><%= ANYO %></td>
<td><%= DESCRIPCION_TIPO %></td>
<td style="text-align: center;">
	<button type="button" class="btn btn-warning btn-mini editar" data-toggle="tooltip" data-placement="top" title="Editar">
		<!--CUANDO ESTO SE SIRVA...<span class="glyphicon glyphicon-edit"></span>-->
    <!--Mientras tanto...-->
    Editar
  </button>
</td>
<td style="text-align: center;">
	<button type="button" class="btn btn-danger btn-mini eliminar" data-toggle="tooltip" data-placement="top" title="Eliminar">
		<!--CUANDO ESTO SE SIRVA...<span class="glyphicon glyphicon-trash"></span>-->
    <!--Mientras tanto...-->
    Eliminar
  </button>
</td>
