<div id="NuevaSede" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="nuevaSedeLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="NuevaSedeLabel">Nueva Sede</h4>
			</div>
			<div class="modal-body">
				<p>
  					Usa el siguiente formulario para introducir los valores necesarios:<br><br>
					<label for="anyoInput">Año:</label>
					<input id="anyoInput" class="form-control" type=text><br>
					<label for="comboTipos">Tipo de juegos:</label>
					<select id="comboTipos" class="form-control"></select><br>
					<label for="comboCiudades">Sede:</label>
					<select id="comboCiudades" class="form-control"></select>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button id="botonAceptar" type="button" class="btn btn-primary">Aceptar</button>
			</div>
		</div>
	</div>
</div>
